{% extends 'gp/base.html' %}


{% block tabs %}
<li class="active"><a href="/home">Home</a></li>
<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tournaments<b class="caret"></b></a>
  <ul class="dropdown-menu">
     <li><a href="/tournaments/upcoming/">Upcoming</a></li>
     <li><a href="/tournaments/finished">Finished</a></li>
 </ul>
</li>
<li><a href="/games">Games</a></li>
{% endblock tabs %}


{% block content %}


<div class="container marketing">
    <div class="jumbotron" style="margin-top: 20px; margin-bottom:100px">
        <h1>{{ info.name }}</h1>
        <p>{{ info.description | linebreaks }}</p>
    </div>

    
    
    <a href="/tournaments/upcoming"><center><h1>Upcoming Tournaments</h1></center></a>

    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-top: 40px ; margin-bottom: 70px; border-radius: 5px; background-color: rgba(158, 126, 56, 0.5)">
        {% for tournament in tournaments %}
        <div class="col-lg-4 tournament col-md-4">
            <h2>{{ tournament }}</h2>
            <p>
                Start date: {{ tournament.datetime }}<br>
                Game: {{ tournament.game }}<br>
                Amount of players: {{ tournament.minPlayers }}-{{ tournament.maxPlayers }}<br>
                Tournament type: {{ tournament.tournament_type }}<br>
                Games per match: {{ tournament.games_to_win_the_match }}
            </p>
            <!--<p><a class="btn btn-info" href="#" role="button">View details &raquo;</a></p>-->
        </div><!-- /.col-lg-4 -->
        {% endfor %}    
    </div><!-- /.row -->
    
    


    
    <hr class="featurette-divider">
    <!-- FOOTER -->
    <footer style="margin-top: 30px">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p></p>
    </footer>

</div><!-- /.container -->


{% endblock content %}



