{% extends 'gp/base.html' %}

{% block tabs %}
<li><a href="/home">Home</a></li>
<li class="dropdown active">
  <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tournaments<b class="caret"></b></a>
  <ul class="dropdown-menu">
   <li class="active"><a href="/tournaments/upcoming/">Upcoming</a></li>
   <li><a href="/tournaments/finished">Finished</a></li>
 </ul>
</li>
<li><a href="/games">Games</a></li>
{% endblock tabs %}



{% block content %}


<div class="container marketing">
  
  <!-- START THE FEATURETTES -->
    
    {% if error or success %}
        
        {% if error %}
            <div class="alert alert-danger">
              {{ message }}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success">
              {{ message }}
            </div>
        {% endif %}
    {% endif %}
    
    
    
  
  <center><h1>Upcoming tournaments</h1></center>
    
  {% for tournament in tournaments %}
  <div class="row featurette">
    <div class="col-md-12">
      <h3 class="featurette-heading" style="font-size: 3em;">{{ tournament }}       <span class="text-muted" style="font-size: 20px;">Date: {{ tournament.datetime }}</span></h3>
      <p class="lead">{{ tournament.description }}</p>
      <h4>Type: {{ tournament.tournament_type }}</h4>
        <a href="{% url 'gp.views.detailed_game' pk=tournament.game.pk %}"><h4>Game: {{ tournament.game }}</h4></a>
        <h4>Player per match: {{ tournament.players_per_match }}</h4>
        <h4>Games to win the match: {{ tournament.games_to_win_the_match }}</h4>
        <h4>Min-max players: {{ tournament.minPlayers }}-{{ tournament.maxPlayers }}</h4>
        <h4>Registered players: {{ tournament.n_registered_players }}</h4>
        
      <br>
      <!--<a href=""><button type="button" class="btn btn-info">Details</button></a>-->
        
        {% if user.is_authenticated %}
            {% if tournament in registered_t %}
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3{{ tournament.pk }}">Change code</button> 
                    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal2{{ tournament.pk }}">Unregister</button>   
            {% else %}
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal{{ tournament.pk }}">Register</button>   
            {% endif %}
        {% endif %}
        
        
            <!-- Modal -->
            <div class="modal fade" id="myModal3{{tournament.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Change code for {{ tournament }}</h4>
                  </div>
                    <form role="role" method="post" action="/tournaments/change_code/" enctype="multipart/form-data">{% csrf_token %}
                          <div class="modal-body">
                                    Browse
                                    <input name="docfile" type="file">
                                    <input type="hidden" name="tournament" value="{{ tournament.pk }}">
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>
        
        
        
            <!-- Modal -->
            <div class="modal fade" id="myModal2{{tournament.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Unregister in {{ tournament }}</h4>
                  </div>
                    <form role="role" method="post" action="/tournaments/unregister/">{% csrf_token %}
                          Are you sure you want to unregister from the {{ tournament }}? 
                          <div class="modal-footer">
                              
                              <form role="form" action ="/unregister/" method="post">{% csrf_token %}
                                        <input type="hidden" name="tournament" value="{{ tournament.pk }}">
                                        <!--<a href=""><button type="button" class="btn btn-danger btn-lg">Unregister</button></a>-->
                                    
                              
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                  <button type="submit" class="btn btn-success">Confirm</button>
                            </form>
                          </div>
                    </form>
                </div>
              </div>
            </div>
        

            <!-- Modal -->
            <div class="modal fade" id="myModal{{tournament.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Register in {{ tournament }}</h4>
                  </div>
                    <form role="role" method="post" action="/tournaments/register/" enctype="multipart/form-data">{% csrf_token %}
                          <div class="modal-body">
                                    Browse
                                    <input name="docfile" type="file">
                                    <input type="hidden" name="tournament" value="{{ tournament.pk }}">
                            </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Register</button>
                          </div>
                    </form>
                </div>
              </div>
            </div>
    </div>
  </div>

  <hr class="featurette-divider">
  {% endfor %}
  
  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
   </footer>

</div><!-- /.container -->


{% endblock content %}



